.container-mid-align {
    color: #015B7E;
    text-align: center;
}

.shape .curve-shape { 
    transform: rotate(90deg);
    border-radius: 50%;
    float: left;
    margin-right:2rem; 
    -webkit-shape-outside:circle();
    shape-outside:circle();
  }

.outer-circle {
    border: 6px dotted #015B7E;
    border-radius: 50%;
    animation: spin 100s linear infinite;
  }


.image-container {
    float: left;
    margin-right:2rem; 
    border-radius: 50%;
}

.med {
    z-index: 999;
  background: #015B7E;
}

.tw {
  z-index: 999;
  background: #015B7E;
}

.intro {
    font-weight: 100;
}


.title-name {
    margin: 0;
    font-size: 30px;
}

  .rounded {
    border-radius: 50%;
    border: 2px solid black;
    padding: 0;
  }


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .gh {
      z-index: 999;
      background: white;
  }

  .hidden-gh {
    padding: 0;
    z-index: 999;
    animation-delay: 1s;
  }
  
  .hidden-tw {
    z-index: 999;
  }

  .hidden-med {
      padding: 0;
    z-index: 999;
  }

  @keyframes gradual {
    0% { 
        position: relative;
        right: 960px;
    }
    1% { 
        position: relative;
        bottom: 1px;
        right: 970px;
    }
    2% { 
        position: relative;
        bottom: 2px;
        right: 980px;
    }
    3% { 
        position: relative;
        bottom: 3px;
        right: 990px;
    }
    4% { 
        position: relative;
        bottom: 3px;
        right: 1000px;
    }
    100% { 
        position: relative;
        right: 960px; 
    }
  }

  @keyframes gradual_tw {
    0% { 
        position: relative;
        bottom: 460px;
        right: 390px;
    }
    1% { 
        position: relative;
        bottom: 480px;
        right: 392px;
    }
    2% { 
        position: relative;
        bottom: 500px;
        right: 394px;
    }
    3% { 
        position: relative;
        bottom: 520px;
        right: 396px;
    }
    4% { 
        position: relative;
        bottom: 540px;
        right: 398px;
    }
    100% { 
        position: relative;
        bottom: 460px;
        right: 390px;
    }
  }

  @keyframes gradual_med {
    0% { 
        position: relative;
        top: 440px;
        right: 390px;
    }
    1% { 
        position: relative;
        top: 460px;
        right: 392px;
    }
    2% { 
        position: relative;
        top: 480px;
        right: 394px;
    }
    3% { 
        position: relative;
        top: 500px;
        right: 396px;
    }
    4% { 
        position: relative;
        top: 510px;
        right: 398px;
    }
    100% { 
        position: relative;
        top: 440px;
        right: 390px;
    }
  }

@media only screen and (min-width: 1050px) {
    .container-mid-align {
        position: absolute;
        top: calc(20% + 40px);
        left: calc(40%);
        height: 600px;
        width: 600px;
    }
    .outer-circle {
        position: relative;
        right: calc(5%);
        height: 860px;
        width: 860px;
        border: 6px dotted #015B7E;
        border-radius: 50%;
        animation: spin 100s linear infinite;
      }

      .avatar-image {
        height: 6px;
        width: 6px;
        transform: rotate(90deg);
        border-radius: 50%;
        border: 2px solid #015B7E;
    }

    .image-container {
        float: left;
        margin-right:2rem; 
        border-radius: 50%;
    }
    .shape .curve-shape {
        position: absolute;
        left: calc(15%);
        top: calc(20%);
        height: 640px;
        width: 640px;
        border-radius: 50%;
        float: left;
        margin-right:2rem; 
        -webkit-shape-outside:circle();
        shape-outside:circle();
      }
      .metadata {
        font-size: 30px;
         position: absolute;
        top: 150px;
        left: 850px;
        display: inline-block;
        a {
            padding: 20px;
        }
      }
      .med {
        z-index: 999;
      background: #015B7E;
    }
    
    .tw {
      z-index: 999;
      background: #015B7E;
    }
  
    .hidden-gh {
      padding: 0;
      position: relative;
      right: 960px;
      z-index: 999;
      animation: gradual 10s linear infinite;
      animation-delay: 1s;
    }
    .gh {
        z-index: 999;
        background: white;
        
    }
    .hidden-tw {
     position: relative;
      bottom: 460px;
      right: 390px;
       z-index: 999;
      animation: gradual_tw 10s linear infinite;
      animation-delay: 1s;
    }
  
    .hidden-med {
        padding: 0;
       position: relative;
       top: 440px;
      right: 390px;
      z-index: 999;
       animation: gradual_med 10s linear infinite;
       animation-delay: 1s;
    }
}

@media only screen and (max-width: 600px) {
    .container-mid-align {
        position: absolute;
        top: calc(10% + 40px);
        left: calc(10%);
        height: 300px;
        width: 300px;
    }
    .outer-circle {
        position: relative;
        right: calc(5%);
        height: 320px;
        width: 320px;
        border: 6px dotted #015B7E;
        border-radius: 50%;
        animation: spin 100s linear infinite;
      }

      .avatar-image {
        height: 6px;
        width: 6px;
        transform: rotate(90deg);
        border-radius: 50%;
        border: 2px solid #015B7E;
    }

    .image-container {
        float: left;
        margin-right:2rem; 
        border-radius: 50%;
    }
    .shape .curve-shape {
        position: absolute;
        left: calc(25%);
        top: calc(25%);
        height: 160px;
        width: 160px;
        border-radius: 50%;
        float: left;
        margin-right:2rem; 
        -webkit-shape-outside:circle();
        shape-outside:circle();
      }
      .metadata {
        font-size: 30px;
        a {
            padding: 20px;
        }
      }
      .med {
        z-index: 999;
      background: #015B7E;
    }
    
    .tw {
      z-index: 999;
      background: #015B7E;
    }
  
    .hidden-gh {
      padding: 0;
      animation-delay: 1s;
    }
    .gh {
        z-index: 999;
        background: white;
    }
  
    .hidden-med {
        padding: 0;
    }
}